[Desktop Entry]
Version=1.0
Type=Application
Name=Android
Comment=Android Studio
Exec=/usr/bin/android-studio/bin/studio.sh
Icon=distributor-logo-android
Path=
Terminal=false
StartupNotify=false
