[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/valerio/Scrivania/mvn_sonar_script]
row=6
col=0

[/home/valerio/Scrivania/startbootstrap-resume-gh-pages]
row=4
col=0

[/home/valerio/Scrivania/dev]
row=5
col=0

[/home/valerio/Scrivania/sonar_script]
row=3
col=0

[/home/valerio/Scrivania/magistrale]
row=2
col=0

[2020-10-15-14-48-48-14]
row=0
col=0

[Cestino]
row=0
col=1

[/]
row=1
col=0

[/home/valerio]
row=1
col=1

